<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Other lines in your head section -->

    <!-- Add the section below -->
    <!-- First, add Leaflet stylesheet -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/leaflet/dist/leaflet.css"
      crossorigin=""
    />
    <!-- Second, add Leaflet stylesheet -->
    <script
      src="https://unpkg.com/leaflet/dist/leaflet.js"
      crossorigin=""
    ></script>
    <!-- Last, add our JavaScript file -->
    <script src="{% static 'leaflet-map.js' %}" defer></script>
    <!-- End of section you need to add -->

    <!-- Other lines in your head section -->
  </head>
  <body>
    <!-- Other lines in your body section -->
  </body>
</html>
